@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#__next {
  height: 100%;
}